
$h1-color: #ffffff;
$input-back: #ffffff;
$border: #000000;
$blu-gradient: #16acec;
$orange-gradient: #e8950f;
$body-color: #031b22;
$press-button: #042832; 
$color-watch: #3b4346;
$color-button: crimson;
$color-add: rgb(78, 122, 133);
$color-decrement: rgb(197, 197, 10);
$color-increment: rgb(9, 188, 24);
$font: 'Cabin', sans-serif;




body {
    padding: 0px;
    margin: 0px;
    background: $body-color;
    font-family: $font;
    
}

h1 {
    text-align: center;
    color: $h1-color;
    font-size: 4rem;
    font-style: italic;
    margin-top: 10px;
}


.watch {
    text-align: center;
    width: 100%;
    background-color: $color-watch;
    max-width: 380px;
    margin: 4rem auto; // Per posizionarlo al centro 
    margin-top: 7px;
    padding: 1rem 2rem;
    border-radius: 20px;

    .time {
        font-size: 5rem;
        font-weight: 400;
        margin-bottom: 1rem;
        color: $h1-color;
    }
    .controls {
        display: flex;
        align-items: center;
        justify-content: center;

        .control-watch {
            appearance: none;
            background: none;
            border: none;
            outline: none;
            user-select: none;
            
            cursor: pointer;
    
            color: $h1-color;
            font-size: 1rem;
            background-color: $color-button;
            margin: 0 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 7px;
            transition: 0.4s;
        }
    
        button:active{
            background-color: $press-button;
        }
    }

  
}


.container {
    text-align: center;
    width: 100%;
    background-color: $color-watch;
    max-width: 680px;
    max-height: 450px;
    margin: 4rem auto; // Per posizionarlo al centro 
    padding: 1rem 2rem;
    border-radius: 20px;
     
    .col {
        display: flex;
        align-items: center;
        justify-content: center; // Permette che, quando si presenta un numero più largo, siano tutti a spostarsi e non solo il +
        min-height: 200px;
        border-radius: 20px;
    
        .col-decrement {
            text-align: center;
            background-color: $color-decrement;
            border: none;
            font-size: 5rem;
            margin-right: 30px;
            margin-left: 30px;
            padding: 30px 40px 30px 40px;
            cursor: pointer;
            border-radius: 20px;
        }
    
        .col-counter {
            text-align: center;
            background-color: $h1-color;
            border: none;
            font-size: 5rem;
            margin-right: 30px;
            margin-left: 30px;
            padding: 30px 40px 30px 40px;
            cursor: pointer;
            border-radius: 20px;
        }
    
        .col-increment {
            text-align: center;
            background-color: $color-increment;
            border: none;
            font-size: 5rem;
            margin-right: 30px;
            margin-left: 30px;
            padding: 30px 40px 30px 40px;
            cursor: pointer;
            border-radius: 20px;
        }
    }

    .cou {
        text-align: center;
        margin: 1px auto; // Per posizionarlo al centro 
        padding: 1rem 2rem;
        border-radius: 20px;
        
        .input {
            text-align: center;
            background-color: $input-back;
            border: 1px solid $border;
            font-size: 1.1rem;
            padding: 6px 40px 6px 40px;
            border-radius: 10px;
        }  
    }

    .add {
        border: none;
        text-align: center;
        background-color: $color-add;
        margin-left: 5px;
        margin-top: 7px;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 7px;
        color: $h1-color;
        cursor: pointer;
    }

    .reset-counter {
        border: none;
        text-align: center;
        background-color: $color-button;
        margin-left: 20px;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 7px;
        color: $h1-color;
        cursor: pointer;
    }
}



// Sezione Mobile First

@media all and (min-width: 370px) and (max-width: 500px) {
    h1 {
        font-size: 2.4rem;
        margin-top: 40px;
    }

    .watch {
        text-align: center;
        max-width: 260px;
        .time {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.9rem;
        }
        .controls {
            .control-watch {
                padding: 0.5rem 0.8rem;
            }
        }
}
.container {
    text-align: center;
    max-width: 250px;
    min-height: 525px;
    
.col {
        float: center;
        display:grid;
        width: auto;
        align-items: center;
        text-align: center;
        align-content: space-between;

    .col-decrement {
        margin: 10px;
        margin-top: 10px;
        padding: 20px 35px 20px 35px;
        font-size: 4rem;
    }

    .col-counter {
        margin: 10px;
        margin-top: 10px;
        padding: 20px 35px 20px 35px;
        font-size: 4rem;
    }

    .col-increment {
        margin: 10px;
        margin-top: 10px;
        padding: 20px 35px 20px 35px;
        font-size: 4rem;
    }
}
.cou {
    text-align: center;
    margin: 1px auto; // Per posizionarlo al centro 
    padding: 1rem 12px;

    .input {
        font-size: 1rem;
        padding: 6px 10px 6px 10px;
    }

    .add {
        margin-top: 20px;
        font-size: 1.2rem;
        margin-right: 30px;
    }

    .reset-counter {
        margin-left: 30px;
        font-size: 1.2rem;

    }
}
}
}

@media all and (min-width: 501px) and (max-width: 620px) {

    h1 {
        font-size: 3rem;
        margin-top: 40px;
    }

    .watch {
        text-align: center;
        max-width: 330px;
        .time {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4.8rem;
        }
        .controls {
            .control-watch {
                padding: 0.5rem 0.8rem;
            }
        }
}
.container {
    text-align: center;
    max-width: 380px;
    min-height: 535px;;
.col {
    float: center;
        display:grid;
        width: auto;
        align-items: center;
        text-align: center;
        align-content: space-between;
    min-height: 150px;
    border-radius: 20px;

    .col-decrement {
        margin: 10px;
        margin-top: 10px;
        padding: 20px 35px 20px 35px;
        font-size: 4rem;   
    }

    .col-counter {
        margin: 10px;
        margin-top: 10px;
        padding: 20px 35px 20px 35px;
        font-size: 4rem;
    }

    .col-increment {
        margin: 10px;
        margin-top: 10px;
        padding: 20px 35px 20px 35px;
        font-size: 4rem;
    }
}
.cou {
    text-align: center;
    margin: 4px auto; // Per posizionarlo al centro 
    padding: 1rem 2rem;

    .input {
        font-size: 1rem;
        
    }

    .add {
        margin-top: 20px;
        margin-right: 30px;
    }

    .reset-counter {
        margin-left: 30px;
    }
}
}
}

@media all and (min-width: 621px) and (max-width: 820px) {

    h1 {
        margin-top: 40px;
    }

    .watch {
        text-align: center;
        .time {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .controls {
            .control-watch {
                padding: 0.5rem 0.8rem;
            }
        }
}
.container {
    text-align: center;
    max-width: 450px;
    min-height: 610px;;
.col {
    float: center;
        display:grid;
        width: auto;
        align-items: center;
        text-align: center;
        align-content: space-between;
    min-height: 150px;
    border-radius: 20px;
    .col-decrement {
        margin: 10px;
        margin-top: 10px;
        padding: 20px 35px 20px 35px;
        font-size: 5rem;    
    }

    .col-counter {
        margin: 10px;
        margin-top: 10px;
        padding: 20px 35px 20px 35px;
        font-size: 5rem;
    }

    .col-increment {
        margin: 10px;
        margin-top: 10px;
        padding: 20px 35px 20px 35px;
        font-size: 5rem;

    }
}
.cou {
    text-align: center;
    margin: 4px auto; // Per posizionarlo al centro 
    padding: 1rem 2rem;

    .input {
        font-size: 1.1rem;
        margin-top: 10px;
    }

    .add {
        margin-top: 20px;
        margin-right: 30px;
    }

    .reset-counter {
        margin-left: 30px;
    }
}
}
}

